.heading {
  text-align:center;
  font-size: 50px;
  height: 70px;
  background-color: white;
  color: #4f2902;
  font-family: Arial, serif;
  border-style: solid;
  border-width: 5px;
}


.column {
  flex: 50%
  padding: 10px;
  height: 350px;
}

.small-pic {
  width: 200px;
  border-style: solid;
  border-width: 3px;
  border-radius: 30%;
  border-color: #f4cc2a;
}
.centre-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centre{
  text-align: center;
}